html,
body {
  background: var(--bg);
  color: var(--fg);
  display: flex;
  font-family: "Open Sans", sans-serif;
  height: 100vh;
  margin: 0;
  overscroll-behavior: none;
  padding: 0;
  scrollbar-color: var(--sidebar-fg) var(--bg);
  text-align: center;
  width: 100vw;
}

#dropzone {
  align-items: center;
  background: inherit;
  border: 2px dashed var(--fg);
  box-sizing: border-box;
  color: inherit;
  display: none;
  height: calc(100vh - 20px);
  justify-content: center;
  margin: 10px;
  position: fixed;
  width: calc(100vw - 20px);
}

#dropzone.active {
  display: flex;
}

#sidebar {
  background: var(--sidebar-bg);
  box-sizing: border-box;
  color: var(--sidebar-fg);
  display: flex;
  flex: 0;
  flex-flow: column;
  min-height: 500px;
  min-width: 000px;
  padding: 000px;
  transform: scaleX(0);
  transform-origin: left;
  transition: min-width 250ms ease-in-out, padding 250ms ease-in-out, transform 250ms ease-in-out;
}

#sidebar.active {
  min-width: 300px;
  padding: 010px;
  transform: scaleX(1);
}

#sidebar * {
  background: inherit;
  color: inherit;
}

#player {
  background: var(--bg);
  box-sizing: border-box;
  color: var(--fg);
  display: flex;
  flex: 1;
  flex-flow: column;
  min-height: 540px;
  min-width: 420px;
  padding: 10px;
}

#player * {
  background: inherit;
  color: inherit;
}

#sidebar-h,
#player-h {
  flex: 0;
  min-height: 050px;
  transform: scaleY(0);
  transform-origin: top;
  transition: transform 250ms ease-in-out;
}

#sidebar-h.active,
#player-h.active {
  transform: scaleY(1);
}

#data-structures,
#canvas {
  flex: 1;
  min-height: 400px;
  transform: scaleY(0);
  transform-origin: center;
  transition: transform 250ms ease-in-out;
}

#data-structures.active,
#canvas.active {
  transform: scaleY(1);
}

#manual,
#controls {
  flex: 0;
  min-height: 050px;
  transform: scaleY(0);
  transform-origin: bottom;
  transition: transform 250ms ease-in-out;
}

#manual.active,
#controls.active {
  transform: scaleY(1);
}

#data-structures,
#canvas {
  margin: 10px 00px;
}

#sidebar-h>button {
  border: none;
  font-size: 24px;
  height: 50px;
}

#player-h {
  display: flex;
  z-index: 1;
}

#data-structures {
  display: flex;
  flex-flow: column;
  overflow-y: auto;
}

#canvas {
  min-height: 400px;
  min-width: 400px;
}

#manual>button {
  border: none;
  font-size: 24px;
  height: 50px;
}

#controls {
  display: flex;
}

#controls>.l {
  flex: 0;
}

#controls>.c {
  flex: 1;
}

#controls>.r {
  flex: 0;
}

#controls>div {
  display: flex;
}

#theme-settings {
  flex: 0;
  min-width: 100px;
}

#data-type {
  flex: 1;
  min-width: 200px;
}

#view-settings {
  flex: 0;
  min-width: 100px;
}

#theme-settings,
#view-settings {
  display: flex;
}

#theme-settings>div,
#view-settings>div {
  width: 50px;
}

#data-type>button {
  border: none;
  font-size: 24px;
  height: 50px;
}

.data-structure {
  border-color: var(--sidebar-bg);
  border-style: solid;
  border-width: 00px 00px 00px 10px;
  cursor: pointer;
  font-size: 16px;
  margin: 10px 00px;
  min-height: 50px;
  min-width: 100%;
  padding: 10px;
  text-align: left;
}

.data-structure:hover,
.data-structure.active {
  border-color: var(--bg);
}

canvas {
  display: block;
}

a {
  text-decoration: none;
}

#theme-toggle {
  flex: 0;
}

#themes {
  display: flex;
  flex: 1;
  flex-flow: column;
  transform: scaleY(0);
  transform-origin: top;
  transition: transform 250ms ease-in-out;
}

#theme-container:hover>#themes,
#themes:focus-within {
  transform: scaleY(1);
}

.theme {
  border-color: var(--bg);
  border-style: solid;
  border-width: 00px 00px 00px 05px;
  cursor: pointer;
  height: 25px;
  margin: 5px auto;
  padding: 5px;
  text-align: left;
  width: 100%;
}

.theme:hover,
.theme.active {
  border-color: var(--sidebar-bg);
}

.icon {
  border: none;
  color: var(--icons) !important;
  cursor: pointer;
  height: 50px;
  transition: color 250ms ease-in-out;
  width: 50px;
}

.icon:hover,
.icon.active {
  color: var(--icons-hover) !important;
}

.fa-play,
.fa-pause {
  display: none;
}

#controls[data-play="1"] .fa-play {
  display: block;
}

#controls[data-play="0"] .fa-pause {
  display: block;
}

#step-container {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  min-width: 50px;
  padding: 00px 10px;
}

#step {
  border: none;
  font: 1em monospace;
}

#controls>.c {
  box-sizing: border-box;
  min-width: 50px;
  padding: 00px 10px;
}

#step-slider {
  width: 100%;
}